TCP-IP Illustrated, Volume 1: The Protocols - W. Richard Stevens
TCP-IP Illustrated, Volume 2: The Implementation - W. Richard Stevens
--
The Art of Computer Programming, Vol. 1: Fundamental Algorithms - Donald E. Knuth
The Art of Computer Programming, Vol. 2: Seminumerical Algorithms - Donald E. Knuth
--
